
.tilt-in-left-1 {
    -webkit-animation: tilt-in-left-1 .6s cubic-bezier(.25, .46, .45, .94) both;
    animation        : tilt-in-left-1 .6s cubic-bezier(.25, .46, .45, .94) both
  }
  
  .slide-in-fwd-bottom {
    -webkit-animation: slide-in-fwd-bottom .4s cubic-bezier(.25, .46, .45, .94) both;
    animation        : slide-in-fwd-bottom .4s cubic-bezier(.25, .46, .45, .94) both
  }
  
  .tilt-in-fwd-tr {
    -webkit-animation: tilt-in-fwd-tr .6s cubic-bezier(.25, .46, .45, .94) both;
    animation        : tilt-in-fwd-tr .6s cubic-bezier(.25, .46, .45, .94) both
  }
  
  @-webkit-keyframes slide-in-fwd-bottom {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
      transform        : translateZ(-1400px) translateY(800px);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform        : translateZ(0) translateY(0);
      opacity          : 1
    }
  }
  
  @keyframes slide-in-fwd-bottom {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(800px);
      transform        : translateZ(-1400px) translateY(800px);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: translateZ(0) translateY(0);
      transform        : translateZ(0) translateY(0);
      opacity          : 1
    }
  }
  
  @-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      transform        : rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      transform        : rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity          : 1
    }
  }
  
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      transform        : rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      transform        : rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity          : 1
    }
  }
  
  @-webkit-keyframes tilt-in-left-1 {
    0% {
      -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
      transform        : rotateX(-30deg) translateX(-300px) skewX(-30deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
      transform        : rotateX(0deg) translateX(0) skewX(0deg);
      opacity          : 1
    }
  }
  
  @keyframes tilt-in-left-1 {
    0% {
      -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
      transform        : rotateX(-30deg) translateX(-300px) skewX(-30deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
      transform        : rotateX(0deg) translateX(0) skewX(0deg);
      opacity          : 1
    }
  }
  
  
  .tilt-in-top-1 {
    -webkit-animation: tilt-in-top-1 .6s cubic-bezier(.25, .46, .45, .94) both;
    animation        : tilt-in-top-1 .6s cubic-bezier(.25, .46, .45, .94) both
  }
  
  @-webkit-keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      transform        : rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
      transform        : rotateY(0deg) translateY(0) skewY(0deg);
      opacity          : 1
    }
  }
  
  @keyframes tilt-in-top-1 {
    0% {
      -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      transform        : rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
      transform        : rotateY(0deg) translateY(0) skewY(0deg);
      opacity          : 1
    }
  }
  
  
  .tilt-in-fwd-tr {
    -webkit-animation: tilt-in-fwd-tr .6s cubic-bezier(.25, .46, .45, .94) both;
    animation        : tilt-in-fwd-tr .6s cubic-bezier(.25, .46, .45, .94) both
  }
  
  @-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      transform        : rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      transform        : rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity          : 1
    }
  }
  
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      transform        : rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      transform        : rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity          : 1
    }
  }
  
  
  .flip-in-diag-2-br {
    -webkit-animation: flip-in-diag-2-br .5s cubic-bezier(.25, .46, .45, .94) both;
    animation        : flip-in-diag-2-br .5s cubic-bezier(.25, .46, .45, .94) both
  }
  
  @-webkit-keyframes flip-in-diag-2-br {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, -80deg);
      transform        : rotate3d(-1, 1, 0, -80deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
      transform        : rotate3d(1, 1, 0, 0deg);
      opacity          : 1
    }
  }
  
  @keyframes flip-in-diag-2-br {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, -80deg);
      transform        : rotate3d(-1, 1, 0, -80deg);
      opacity          : 0
    }
  
    100% {
      -webkit-transform: rotate3d(1, 1, 0, 0deg);
      transform        : rotate3d(1, 1, 0, 0deg);
      opacity          : 1
    }
  }