.logo {
    /* background: #ef9a9a; */
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    height: 670px;
}
.cv {
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.right {
    /* background: #ef9a9a; */
    height: 670px;
    text-align: left;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
.profile-circel-image-200 img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
 
}
.vv img {
    transition: all 0.3s ease;
    cursor: pointer;
 
}

.container {
    margin: 0 auto;
    margin-bottom: 10px;
}
.listicon a {
    margin: 3px;
    text-decoration: none;
    padding: 4px;
    color: black;
  
}

.listicon svg:hover {
    transform: scale(1.2);
}
.left {
    position: relative;
    text-align: center;
}
.Left-footder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 100%
    display flex;
    flex-direction: row; /* OPTIONAL IF ONLY ONE ELEMENT */
    justify-content: center;
    align-items: center;
}
body{
    text-align: center;
    color: #555;
}
.left{
    color: #000;
}
/* code right */
.topic h3{
    font-weight: bold;
    margin-bottom:30px;
   
}
.right span {
    color: #FF719A;
    margin-right: 10px;
    font-weight: bold;
}
.context-topic p{
    text-align: left;
}
.contact p{
   margin-bottom: 10px;
  
}
.feature {
    margin-top:30px;
}
.feature div{
    margin-bottom: 10px;
}
